body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f7f7f7;
  text-align: center;
}

.gallery-title {
  background: linear-gradient(to right, #e1f73c, #b8c620);
  color: black;
  padding: 10px ;
  font-size: 2.5em;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 80px;
  max-width: 1300px;
  margin: 10px auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

.gallery-item {
  position: relative;
}

.gallery img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.caption {
  margin-top: 8px;
  font-size: 16px;
  color: #333;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.85);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  border-radius: 10px;
}

.modal-caption {
  color: white;
  font-size: 20px;
  margin-top: 15px;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.3s;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}
.gallery-container {
  max-width: 1300px;
  margin: 30px auto;
  padding: 25px;
  border: 3px solid #c6ac1a;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  
}
